.error {
    color: red
}

div[fxLayout] {
    margin-top: 32px;
}

.alert {
    background: pink;
    color: red;
    margin-top: 25px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}